
body {
    padding-left:10px;
    padding-right:10px;
    border:px ;
    font-family: courier, sans-serif;
background-color:#f0f1f4;
color:#7b7576;
   
}



h1 {border-radius: 25px;
    border: 1px solid #e3ebdb;
padding-top:50px;
    padding-bottom: 50px;
    font-family: arial, sans-serif;
text-transform:uppercase;
text-align:center;
font-size:2em;
    font-weight:bold;
letter-spacing: 4px;
color:#37383b;
background-color:#e6d4d7;}


h2 {font-family: arial, sans-serif;
text-transform:uppercase;
padding-top:20px;
font-size:1.5em;
    font-weight:bold;
letter-spacing: 2px;
color:#c29577;

padding-top: 50px;}


img { border-radius: 100px;
    border: 1px solid #e6d4d7;
    background: #d0dfd8;
    padding: 20px; 
    width: 500px;
margin-top:30px;
margin-bottom:30px;
}

