 /* CSS Document */

/* development helper style */

.col {
    background: transparent;
    box-sizing: border-box;
}

footer .col {background:none!important}

/* main styles */


body {
    font-family: "Crimson Text", serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    background-color:#fbfbfb;
    color:#666;
}

header{
    height: 4em; /* 6*16 = 96px */
    text-align: center;
    padding:3em 0 1em 0;
    background: #fbfbfb;
  }

header a{text-decoration: none;}

header h1 {box-sizing: border-box;
font-family: Oswald, sans-serif;
font-size: 2.3em;
color:#555;
    font-weight: 300;
    letter-spacing: .6em;
    text-transform: uppercase;   
}
    

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}


.main-nav {background: #fbfbfb; 
    padding: .75em 0em .75em 0em; 
 border-top: 1px solid #bebebe;
    }


.main-nav a {
    display: block;
    text-decoration: none;
    font-size: .8em;
    color: #202020;
    padding: 4px 4px;
    outline: none;
}

.main-nav a:visited {
    color: #2b2b2b;
    font-style: italic;
}

.main-nav a:hover {
    color: #ccc;
}

.currentlink {
   font-style:italic;
    font-weight: normal;
    font-size:1.15em;
}
    
    


.main-nav li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    list-style-type: none;
    
}

.nav .col {
    background:none;
    border: none;
    text-align:center;
    box-sizing: border-box;
    }


.mag-vol-no {
    display: block;
    text-decoration: none;
    font-size: 1em;
    color: #202020;
    padding: 4px 4px;
    outline: none;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
        text-transform:none;
      
}


#container {width:100%;
margin: 0 auto;
}


/*banner styles*/

#banner {background-color: #fbfbfb;
    background-image: url("banner-home.jpg"); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: scroll;/* or fixed*/     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    width:100%;
height:1000px;
margin-bottom:.5em auto;
}

#banner h2 {padding-top:10em; text-align:center;font-style:normal;color:#666;font-size:2em;font-weight:normal;letter-spacing:3px;}

#banner h2 span {font-style:italic;font-size:1em;}

#banner a.button{
    margin-top: 60px;
    }

.readnow {padding-top:6em;text-align:center;font-style:normal;color:#666;font-size:1em;font-weight:normal;text-transform:uppercase;letter-spacing:2px;}

.readnow a {text-decoration:none;color:#666;}

hr {width: 30px; 
    border-top: 1px solid #bebebe;
    margin-left:auto;
    margin-right:auto;
}


/*home features*/

#feature-splash {
    background-color:#ededed;
}

#feature-spash-inner {
    max-width: 1000px;
    margin: 8px auto;
}

@media only screen and (max-width: 767px) {
#feature-spash-inner {
    width:75%;}
}


#feature-splash-boxa {
    margin: 1% auto;
    padding-bottom:20px;
    box-sizing: border-box;
}

#feature-splash-boxa h2 {padding-top:6em; text-align:center;font-style:normal;color:#666;font-size:1.25em;font-weight:normal;letter-spacing:3px;}

#feature-splash-boxa h2 span {font-style:italic;font-size:1em;}

#feature-splash-boxa a.button{
    margin-top: 3em;
    margin-bottom: 2em;}

#feature-splash-boxb img {
    width: auto;
    height: auto;
    max-width: 100%; 
}


#section-intro-text h3 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 6em auto 3em;
    color: #666;
}

#section-intro-text hr {
    width: 30px;
    margin: 0 auto 45px;
    border: 0;
    height: 1px;
    background: #bebebe;
}

#feature-contents {max-width: 1024px;
margin: 4em auto;
    border: 0px solid #fbfbfb;
    box-sizing: inherit;
}


@media only screen and (max-width: 767px) {
  #feature-contents {
    width:75%;}
}




#feature-contents h3 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    color:#666;
}

#feature-contents-box {text-align: center;}


#feature-contents-box  a {
    text-decoration: none;
}

#feature-contents-box a:visited {
    color: #2b2b2b;
}

.figure {
    margin: 0;
    padding: 0;
    position: relative;
}

#feature-contents-box {padding-bottom:2em;}

#feature-contents-box img {
    display: block;
    width:auto;
        height: auto;
    max-width: 100%;
}


#feature-contents-box h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    color: #2b2b2b;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 1.6;
}

#feature-contents-box span {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    color: #2b2b2b;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 1.6;
}


.home-seperator {
    width:100%;
    height: 1px;
    color: #bebebe;
    margin: 5em 0;
    padding: 0;
}


footer {height:147px;
background: #fbfbfb;   
 border-top: 1px solid #bebebe;
    }
    
footer .section{width:90%;
margin: 3.5em auto;
}


footer p{padding:5px; text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    color: grey;
text-align: center;}

footer p span{
    font-family:oswald,sans-serif;
    font-size:1.25em;
    font-weight:300;
    letter-spacing:2px;
    font-style: normal;
    color:#222;
}


/*button styles*/

a.button{
    display: block;
    margin:0 auto;
    border: 1px solid #bebebe;
    padding: 10px 15px;
    max-width: 150px;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    color: #666;
}

a:visited .banner-button {
    color: #666;
}

.textb {text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    text-decoration: none;
 }

a.button:hover{
     background: #fbfbfb;
    border: none;
     -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*Responsive Styles*/


@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url();
  }
    
}

@media only screen and (max-width: 767px) {
    .main-nav {display:none;}
   
}

@media only screen and (min-width: 767px) {
    .mobilenav {display:none;}
}

@media only screen and (max-width: 767px) {
    


    
    
* {
  font-family: "Crimson Text", serif;
    -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

.top-animate {
  background: #bebebe !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate {
  opacity: 0;
}

.bottom-animate {
  background: #bebebe !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #bebebe;
}

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #bebebe;
}

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #bebebe;
}

.menui {
  background: #bebebe;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}

.icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 5px;
  height: 30px;
  width: 30px;
  margin: 5px 15px;
  top: 0;
  left: 0;
}

.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
}

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
    list-style-type: none;
   
}

.mobilenav li a {
  font-size: 1em;
  color: #202020;
  text-decoration: none;
  font-weight: normal;
  width: 100%;
    text-transform:uppercase;
    letter-spacing:3px;
    list-style-type: none;
     
}
    
    
.mobilenav li a:hover { 
    background-color: #ededed;
}
    

.mobilenav li:first-child {
    margin-top: 60px;
    list-style-type: none;}
    
.mobilenav p {
        padding-top:25px;
    font-size: .90em;
  color: #202020;
  text-decoration: none;
  font-weight: normal;
    letter-spacing:1px;
    text-align: center;
    text-transform: uppercase;}
    
    
.mobilenav p a {
       text-decoration:none;
    color:#202020;}
    
.mobilenav p a:hover {
       background-color: #ededed;}
    
.mobilenav hr {width: 30px; 
    border-top: 1px solid #bebebe;
    margin-left:auto;
    margin-right:auto;   
}
 
     
.mobilenav span {
font-family:oswald,serif; 
font-weight:300; 
font-size:1.5em; 
font-style:normal; 
letter-spacing:4px;}

.mobilenav li p a{font-style:italic; text-transform:none; letter-spacing:2px;
    list-style-type: none;}    

}

/*magazine styles */

#container-magazine {
    min-height: 680px;
    max-width: 2560px;
    margin: 0 auto;
    background-color: #ededed;
   
}

.magazine-content {
    max-width: 1024px;
    margin: 0 auto;

}

.volume-wrapper {
    border-left: 8px #fbfbfb solid;
    border-right: 8px solid #fbfbfb;
    background: #fbfbfb;
  
}

.mag-vol-image {
    position: relative;
}

.mag-vol-image img {
    height: auto;
    max-width: 100%;
}
.mag-vol-image img {
    border: 0;
}

.mag-vol-image a {
    position: absolute;
    top: 40%;
    right:20%;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 1.3em;
    font-style:italic;
    border: 1px solid #fff;
    border-radius: 1px;
    color: #2b2b2b;
}




.mag-vol-image a:hover {
    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
}

a:hover, a:active {
    outline: 0;
}

a:hover, a:focus, a:active {
    color: #808080;
}

a:visited {
    color: #666;
}

.volume-wrapper header {
    text-align: center;
    padding: 35px 0;
    
   
}

.volume-wrapper header h2 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    clear:both;
    line-height: 1.5em;
}

.volume-wrapper header a {
    text-decoration: none;
    color: #666;
}

.volume-wrapper header span {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: grey;
    line-height: 1.5em;
}


.chapter-info {}

.chapter-info a {text-decoration: none;color:#666;}

.chapter-image {
    
}

.chapter-image img {
    height: auto;
    max-width: 100%;
}

.chapter-info {
    margin: 0em auto;
    padding-left:1em;
}

.chapter-info h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3em;
    text-align: center;
    margin: 40px 0 20px;
    color:#666;
     
}

.chapter-info h3 span {
    font-weight: 300;
    text-transform: none;
    letter-spacing: 3px;
    font-size: 1.1em;
    font-style: italic;
}

.chapter-list {
    padding-left: 40px;
    margin: 0;
}
ul {
    list-style: disc;
}

.chapter-list li {
    list-style: circle;
    color: silver;
    font-size: 12px;
    line-height: 2.1;
}

.chapter-list p {
    margin: 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
    vertical-align: 2px;
    padding-bottom: .1em;
}

.chapter-list span {
    text-transform: none;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.foot-nav {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.foot-nav a {
    display: block;
    width: 20%;
    float: left;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    text-decoration: none;
    outline: none;
    color:#2b2b2b;
}

.foot-nav a:hover {
    background: #fbfbfb;
}

.foot-nav a:visited {
    color: #2b2b2b;
}

.foot-nav a:hover, .foot-nav a:focus,  .foot-nav a:active {
    color: #808080;
}

.foot-nav a:last-child {
    margin-right: 0px;
}

.clearfix:before,  
 .clearfix:after {  
  content: " ";  
  display: table;  
}  
.clearfix:after {  
  clear: both;  
}  
.clearfix {  
  zoom: 1;  
}  

/*single feature page styles */

.goback {
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: center;    
}

#container-sf {width:100%;
margin: 0 auto;
}




#banner-sf img {
    width: 100%;
    height: auto;
    max-width: 100%;
}


#header-text-sf-container{
      margin-top:5px;
    padding-top:3%;
    width:100%;
    background-color:#ededed;
padding-bottom:2em;}


#header-sf {
background-color:#ededed;
width:860px;
margin-left: auto;
margin-right:auto;
margin-top:4em;
}

@media only screen and (max-width: 900px) {
    #header-sf {
    width:90%;}
}



#header-sf-boxa {
    margin: 1% auto;
    box-sizing: border-box;
    margin-bottom:2em;
}


#header-sf-boxa h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    color:#666;
    padding-right:20px;
}

#header-sf-boxa h3 {
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: 300;
    color:#666;
}


#header-sf-boxa .credit-list {
    max-width: 860px;
    margin: 25px auto 0;
    padding: 0;
    list-style: none;
}


#header-sf-boxa .credit-list li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    margin-bottom: 5px;
    color: #999;
}

#header-sf-boxa .credit-list a {
    font-style: italic;
    text-decoration:none;
    text-transform: none;
    font-size: 11px;
    color: #2b2b2b;
}

#header-sf-boxb {
margin: 1% auto;
box-sizing: border-box;
margin-bottom: 2em;
}


.drop-quote {
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-left: 4px solid #bebebe;
    padding-left: 3%;
    color:#666;
    line-height:1.4em;
padding-right:20px;}



#text-sf {
background-color:#ededed;
width:860px;
margin: 0 auto ;
    text-align:justify;
}

@media only screen and (max-width: 900px) {
    #text-sf {
    width:90%;}
}

#text-sf p {
    color: #666;
    font-size: 1.24em!important;
    line-height:1.5em;
    padding-bottom:2em;
    padding-right:20px;
 }

#text-sf p a {text-decoration:none;
font-style:italic;
color: #2b2b2b;}




#single-feature-content-photos {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;}

#single-feature-content-photos img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 0;
}

#single-feature-content-photos .portrait-wrap {
    max-width: 1000px;
    margin: 0% auto;
    padding-bottom:3px;
}

#single-feature-content-photos .portrait-1 {
    width: 50%;
    float: left;
      box-sizing: border-box;
    border-right: #fbfbfb 3px solid;
}

#single-feature-content-photos .portrait-2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-left: #fbfbfb 3px solid;
}

#single-feature-content-photos .landscape{ padding-bottom:3px;}


/*review styles */

.review-intro {
    padding: 10% 40px;
    background: #bebebe;
    color: white;
    margin-bottom: 6px;
}

.review-intro h1 {
    text-align: center;
    font-family: "lato",sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 32px;
    font-weight: 300;
    margin-top: 0;
}

.review-copy p {
    max-width: 700px;
    text-align: justify;
    margin: 1.5em auto;
       font-size: 1rem;
    line-height: 1.5;
}

.review-copy p span {
    float: left;
    color: white;
    font-size: 3.4em;
    line-height: 40px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 3px;
    font-stretch: condensed;
}

.review-intro h2 {padding-top:.5em;font-style:italic;font-size:1.5em;text-align:center;color:#fff;font-weight:normal;letter-spacing:2px;}

#review-links {margin:0 auto; width:40%;text-align:center;
}

#review-links li a{
    font-family:lato, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:3px;
    font-size:1.2em;
    color:white;
    font-weight:300;
    
}



#review-container 
{background-color: #ededed;
}



#item-content {
width: 1024px;
margin: 0 auto; 

}


@media only screen and (max-width: 1024px) {
    
    #item-content {
       width: 100%;
    }
}




#item-title {
    float: left;
    background-color: #bebebe;
    min-height: 225px;
    color: white;
}

@media only screen and (max-width: 900px) {
   #item-title {
       width: 100%;}
    
     #item-copy {
       width: 100%;}

}



#item-title h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 80px;
    line-height: 1.5;
}

#item-title h3 {
    padding-top:1em;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

#item-copy {
    float: left;
    background-color: #E1E1E1;
    height: 225px;
    padding: 30px;
    color: #666;
    font-size: 13px;
    text-align: justify;
}

@media only screen and (max-width: 767px) {
     #item-copy {height:auto;}
}


#item-copy p{
    margin-bottom: 1.5em;
    line-height:1.5em;
}

#item-copy p span {
        float: left;
    font-size: 3.4em;
    line-height: 30px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 3px;
}


#item-link {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    position:relative;
    margin: 0 auto;
}

#item-link a {text-decoration: none;
color:#666}



#review-content-photos { 
    
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 2px;
    padding-right:.7%;}

@media only screen and (max-width: 900px) {
     #review-content-photos {
    padding-right:0px;}
}

#review-content-photos img {
    
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 0;
}

#review-content-photos .portrait-wrap {
max-width: 100%;
margin: 0% auto;
padding-bottom:3px;
}

#review-content-photos .portrait-1 {
    width: 50%;
    float: left;
      box-sizing: border-box;
    border-right: transparent 3px solid;
}

#review-content-photos .portrait-2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-left: transparent 3px solid;
}

#review-content-photos .landscape{ padding-bottom:3px;}


#review-content-photos .landscape-wrap {
max-width: 100%;
margin: 0% auto;
padding-bottom:3px;
}

#review-content-photos .landscape-1 {
    width: 50%;
    float: left;
      box-sizing: border-box;
    border-right: transparent 3px solid;
}

#review-content-photos .landscape-2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-left: transparent 3px solid;
}

#review-content-photos .landscape-portrait-wrap {
  
max-width: 100%;
margin: 0% auto;
padding-bottom:3px;
}

#review-content-photos .landscape-x {
    width: 69%;
    float: left;
      box-sizing: border-box;
    border-right: transparent 3px solid;
}

#review-content-photos .portrait-y {
    width: 31%;
    float: left;
    box-sizing: border-box;
    border-left: transparent 3px solid;
      
}


.review-credits {
    background: #E1E1E1;
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0px;
    margin-top: 5px;
    height:auto;
    
}

.review-credits h4 {
    color: #2b2b2b;
    text-align: center;
    font-family: "lato",sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 1em;
}

.review-credits h5 {
    font-style: italic;
    text-transform: none !important;
    font-weight: 300 !important;
    padding-top:2em;
    font-size:1em;
    color: #666;
    letter-spacing: 1px;
    line-height:1.4em;
   
}


.review-credits h5 a {
    letter-spacing: 2px;
    font-style: normal !important;
    color: #666;
    text-decoration:none;
    text-transform:uppercase; 
    padding-left:5px;
    padding-right:5px;
     font-weight: 300 !important;
}


/*gallery styles*/

#container-gallery {
    min-height: 680px;
    max-width: 2560px;
    margin: 0 auto;
    background-color: #ededed;
   
}

.gallery-content {  
    margin: 3.5em auto;

}

@media only screen and (max-width: 767px) {
   .gallery-content {
    max-width: 95%;
    margin: 3.5em auto;}
}


#wrapper-gallery {
    border-left: none;
    border-right: none;
    background: none;
    margin: 0 auto;
    max-width:1024px;
  
}

#grid {width:100%;
    margin: 0 auto;
}

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }


@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }


.item{margin:6px; background-color:#E1E1E1;}

#wrapper-gallery img{
max-width:100%;
height:auto;
width:100%;}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.caption p {
    font-style: italic;
    padding: 1em 1em;
    color:#666;
    font-size: 1.2em;
}

.text-border {
border: 1px solid white;
    position:relative;
}

.gallery-title {
    background-color: #E1E1E1;
    color: 999;
    padding:20px;
}

.gallery-title h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 1.5;
    padding-top: 2em;
}

.gallery-title h3 {
    padding-top:1em;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-bottom:2em;
}

.quote {
    background-color: #bebebe;
    color: white;
    padding:20px;
}

.quote h2 {
    text-align: left;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 1.3em;
    line-height: 1em;
    font-style:italic;
    padding:10px;
}

.quote h3 {
    font-family: lato,sans-serif;
    font-weight: 300;
    padding-top:1em;
    text-align: right;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.5;
    padding:1em;
    text-transform:uppercase;
}

.quote h2 span { float: left;
    color: white;
    font-size: 3em;
    line-height: 40px;
    padding-right: 4px;
    padding-left: 3px;
    }


/* Journal Styles */

#container-journal { background-color: #ededed;}


.journal-content {
    min-height: 800px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 53px;
   
}

.post {
    border: 8px solid #fbfbfb;
    margin-bottom: 50px;
    background-color: #fbfbfb;
}

.post-article-header {
    width: 100%;
    text-align: center;
    background-color: #fbfbfb;
    padding: 3% 0;
    margin-bottom:.7%;
    height: auto;
}

.post-article-header h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 300;
    line-height:1.5;
}

.post-article-header h2 a:hover {
    color: #bebebe;
}

.post-article-header h2 a {
    outline: none;
    color:#666;
}

.post-article-header a {
 text-decoration: none;
    color:#666;
}

.post-article-header a:visited {
    color: #2b2b2b;
}

.post-article-header a {

    transition: all 0.4s ease-out;
}
.post-article-header a {
    background-color: transparent;
}

.post-article-header h3 {
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    margin-top: 10px;
    color: #2b2b2b;
    font-weight: 300;
    line-height:1.5;
}

.post-category {
    font-size: .7em;
}

.post-date {
    font-style: italic;
    text-transform: lowercase;
}

.post img, #article img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 0;
   
}

.landscape {padding-bottom:3px;}

.portrait-wrap {
    max-width: 1000px;
    margin: 0% auto;
    padding-bottom:3px;
}

.portrait-1 {
    width: 50%;
    float: left;
      box-sizing: border-box;
    border-right: #fbfbfb 3px solid;
}

.portrait-2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-left: #fbfbfb 3px solid;
}


.read-more-link {
    text-align: center;
    letter-spacing: 1px;
    font-size: .9em;
    text-transform: uppercase;
    padding: 2em 0 1.5em 0;
}

.read-more-link a:hover {
    opacity: .6;
}
.read-more-link a {
    text-decoration: none;
    color:#666;
}
.read-more-link a:hover, .read-more-link a:active {
    outline: 0;
}
.read-more-link a:hover, .read-more-link a:focus, .read-more-link a:active {
    color: #808080;
}
.read-more-link a:visited {
    color: #2b2b2b;
}


.pagination {
    background-color: #fbfbfb;
    text-align: center;
    padding: 20px 20px;
    font-size: 1em;
    margin-bottom: 50px;
}

.page-numbers.current {
    color: #999;
}
.page-numbers {
    margin-right: 5px;
    text-decoration: none;
    outline: none;
}

.page-numbers:after {
    content: '|';
    margin-left: 8px;
    font-size: 1em;
    vertical-align: 1px;
}


.pagination a {
    margin-right: 3px;
    color:#666;
}

a:visited {
    color: #2b2b2b;
}
.page-numbers {
      text-decoration: none;
    outline: none;
}





/*about styles */

#container-about {background-color: #ededed;
}

#content {
    min-height: 680px;
    max-width: 2560px;
    margin: 0 auto;
}

.about-space {
    text-align: center;
}


.about-space .about-header {
    max-width: 530px;
    padding-top: 5em;
    padding-bottom:4em;
    margin: 0 auto;
    background-color:transparent;
}

.about-space .about-header h2 {
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 3px;
}

.about-space .about-header hr {
    width: 300px;
    margin: 20px auto;
    background-color: #ccc;
    border: 0;
    height: 1px;
    box-sizing: content-box
}



.about-space .about-header p {
    font-weight: 300;
    font-size: 1.19em;
    font-style: italic;
    line-height: 1.5;

    
}


.mag-images ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 800px;
    width:100%;
    margin: 0 auto;
    margin-top: 5em;
}

.mag-images li {
    width: 49%;
    float: left;
 
    
}

.mag-images li img {
    display: block;
    border: 4px solid #fbfbfb;
    height: auto;
    max-width: 100%;
    }

a.read-space {
    display: block;
    width: 175px;
    padding: 16px 0;
    border: 1px solid #bebebe;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
    margin: 50px auto 70px;
    color:#2b2b2b;
}


a.read-space:hover {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    color: #2b2b2b;
}



a.read-space:visited {
    color: #2b2b2b;
}



.about-banner-image {background-color:#E1E1E1;
    background-image: url("banner-about.jpg"); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: scroll;/* or fixed*/     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    width:100%;
height:400px;
margin-bottom:.5em auto;
}



.about-banner-image {
    position: relative;
}

.about-banner-image img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    width:100%;
}

.about-banner-image a {
    position: absolute;
    top: 5%;
    left:10%;
    text-decoration: none;
}



.about-overlay:hover {
    background-color: #e6e6e6;
}


.about-overlay {
    text-align: center;
    max-width:100%;
    width: 20em;
    height: 20em;
    border-radius: 150%;
    background: rgba(255,255,255,1);
}


.about-overlay h2 { 
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 70px;
    color: #2b2b2b;
    font-weight: 600;
    margin-bottom: 3px;
}

.about-overlay p {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #2b2b2b;
    line-height: 1.8;
    margin-bottom: 1.5em;
}

.about-overlay p span {text-transform: lowercase;
font-size:13px; font-style:italic;}

.mag-images {display:block;}


.contact-grid-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 5% auto;
    margin-top:15em;
    
}

.contact-grid-item {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: #ededed 8px solid;
    background-color: #fbfbfb;
    text-align: center;
    padding: 4%;
    color: #999;
     transition: all .3s ease-out;
}

@media only screen and (max-width: 767px) {
.contact-grid-item {
    width:100%;
   }
}

.contact-grid-item h3 {
    font-weight: 300;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 5px;
    color: #666;
    line-height: 1.5;
}


.contact-grid-item p {
    font-size: 1.2em;
    color: #666;
    margin: 0;
    font-style: italic;
    line-height: 1.5;
}



.contact-grid-item:hover {
    background-color: #e6e6e6;
    color: #2b2b2b;
}